body {
	background-color:#acafb1;
}

h1 {
    color: black;
    text-align: center;
	font-size: 40px;
}

#paginator1, #paginator2 {
	text-align:center;
	font-size: 20px;
}

h2 {
	font-family: Lato,sans-serif;
    color: black;
    text-align: center;
	font-size: 55px;
}

td { 
	border: 1px solid black;
}

input[type="button"] {
	margin: 5px;
	font-size: 20px;
	border-radius: 2px;
}

input[type="button"]:focus {
    background: #ff0004;
}

img {
	height: 70px;
}

#CoInvestor {
	vertical-align: middle;
}

#Results {
	text-align: center;
    font-size: 20px;
	margin-left:auto; 
    margin-right:auto;
	width: 1000px;
	border-spacing: 10px;
}

#Data {
	background-color: white;
}