<div class="pageHeading clearfix">
  <button ng-click="vm.loadSponsors()" type="button" class="btn btn-default pull-right" aria-label="Left Align">
    <span>Refresh List&nbsp;&nbsp;</span>
    <span ng-class="{loading: vm.loading}" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
  </button>

  <h2 id="pageTitle">Fund Managers</h2>
</div>

<div class="row">

  <div ng-repeat="sponsor in vm.sponsors" class="col-xs-12 col-sm-6 col-md-4 sponsorContainer">
      <sponsor sponsor="sponsor"></sponsor>
  </div>

</div>
