<div class="box">
  <div>
    <img class="center-block img-thumbnail sponsorLogo" ng-src="{{vm.sponsor.attributes.basic_assets.logo.path}}" alt="{{vm.sponsor.attributes.name}}" />
  </div>

  <div class="text-center boldColour"><strong>{{vm.sponsor.attributes.name}}</strong></div>
  <div class="text-center website"><a ng-href="{{vm.sponsor.attributes.communications[0].website}}">{{vm.sponsor.attributes.communications[0].website}}</a></div>


  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div>
        <sponsor-address address="vm.sponsor.attributes.addresses[0]"></sponsor-address>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6" ng-show="vm.sponsor.attributes.investment_phases.length">
      <div class="investmentPhases">
        <strong>Investment Phases:</strong>
        <span ng-repeat="investmentPhase in vm.sponsor.attributes.investment_phases">
          {{investmentPhase.value}}&nbsp;
        </span>
      </div>

      <div class="primarySponsorType"><strong>Primary Sponsor Type:</strong> {{vm.sponsor.attributes.primary_sponsor_type.value}}</div>

      <div class="otherSponsorTypes" ng-show="vm.sponsor.attributes.other_sponsor_types.length">
        <strong>Other Sponsor Types:</strong>
        <span ng-repeat="sponsorType in vm.sponsor.attributes.other_sponsor_types">
          {{sponsorType.value}}&nbsp;
        </span>
      </div>
    </div>
  </div>

  <div>
    {{vm.sponsor.attributes.marketing.description_header | limitTo:140}}
    <span ng-show="vm.sponsor.attributes.marketing.description_header.length > 140">...</span>
  </div>
</div>
