body {
  background-color: #cceded;
}
header {
  background-color: #bbdddd;
}
footer {
  background-color: #bbdddd;
}

#websiteTitle {
  margin-top:0;
  padding:10px;
}
#pageTitle {
  margin-top:0;
}

.pageHeading {
	padding: 3px;
}

.sponsorLogo {
	height: 60px;
}

.sponsorContainer {
	padding:3px;
}

.box {
	background-color: white;
	border-style: solid;
	border-width: 1px;
  border-radius: 10px;
	padding: 5px;
	height:360px;
}

address {
	margin-bottom: 2px;
}

.sponsorDescription {
}

.loading {
		-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
